{% extends 'base.html.twig' %}

{% block title %}Modifier Facturation{% endblock %}

{% block content %}
    <div class="container py-2">    
        <h1>Modifier Facturation</h1>

        {{ include('facturation/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('facturation_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a>

        {{ include('facturation/_delete_form.html.twig') }}
    </div>
{% endblock %}
