{% extends 'base.html.twig' %}

{% block title %}Modifier Hospitalisation{% endblock %}

{% block content %}
    <div class="container py-2">
        <h1>Modifier une Hospitalisation</h1>


        {{ include('hospitalisation/_form.html.twig', {'button_label': 'Enregistrer'}) }}


        {{ include('hospitalisation/_delete_form.html.twig') }}
        <a href="{{ path('hospitalisation_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a>

    </div>
{% endblock %}
