{% extends "_login_template.html.twig" %}

{% block identifiants %}

  <div class="col-12 form-input mt-5">
    
    <form action="{{ path('send') }}" method="post">
    
      <!-- email -->
      <div class="form-group">
        <span class="text-white font-weight-bold">Recupération de mot de passe </span>
        <div class="input-group mt-4">
          <div class="input-group-prepend">
              <span class="input-group-text" id="user-icon"><i class="fa fa-user"></i></span>
          </div>
          <input type="email" name="email" id="email" class=" form-control" placeholder="email de recupération" required>
        </div>
      </div>
      <button class="btn  btn-login mt-3 mb-4" type="submit"><i class="fa fa-paper-plane mr-2"></i>Envoyer</button>
    </form>
  </div>

{% endblock %}

