{% extends "_login_template.html.twig" %}

{% block identifiants %}

    <div class="col-12 form-input mt-5">
       
        <form action="{{ path('renew_password_test') }}" method="post">
            <div class="form-group">
                {% for message in app.flashes('error') %}
						<div class="alert alert-danger" id="errorFlash">
							{{ message }}
						</div>
					{% endfor %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="user-icon"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="email" name="email" id="email" class=" form-control" placeholder="email" required>
                </div>
            </div>
            <!-- Nouveau password -->
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password" id="password" class="form-control" placeholder="Nouveau Password" required autocomplete="on">
                </div> 
            </div>
            {# Confirmer password #}
            <div class="form-group">
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirmer Password" required autocomplete="on">
                </div> 
            </div>
            <button class="btn  btn-login my-4" type="submit"><i class="fa fa-sign-in-alt"></i> Se connecter</button>
        </form>
      </div>

      

{% endblock %}