{% extends 'base.html.twig' %}
{% block title %}Ajouter Patient{% endblock %}
{% block content %}
    
    <div class="container py-2">
        <h4 class="text-center">Créer un nouveau Patient</h4>

    {{ include('patient/_form.html.twig') }}

    {# <a href="{{ path('patient_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a> #}
    <a href="{{ path('patient_index') }}" class="d-flex pb-2">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <h6 class="ml-2 text-dark">Back</h6>
    </a>
    </div>
{% endblock %}
