/* body {
    background-color: #6b91a8!important
} */

div.bgc-contenu, div.container-login{
    background-color: #6b91a8;
}

i.fa-search {
    color: white;
}

i.fa-clinic-medical {
    font-size: 4em;
}

div.menu, div.banner, div.footer, .connexion {
    background-color: #1a3f60;
    /* background-color: #2f5779; */
    box-shadow: 0 2px 17px rgba(238, 233, 233, 0.945);
}



#menu-consultation {
    display: none;
}

.consultation, .hospitalisation, .dossierPatient, .patient, .parametre:hover {
    cursor: pointer;
}

/* div.login-block {
    width: 35em;
margin-top: 12em;
  
    
}

.user-img-login {
    width: 20em;
} */

#operationsConsultation, #operationsHospitalisation, #operationsDossierPatient, #operationsPatient, #operationsParametre {
    display: none;
}