{% extends 'base.html.twig' %}

{% block title %}Ajouter Rendez-Vous{% endblock %}

{% block content %}

    <div class="container py-2">
        <h4 class="text-center">Créer un nouveau Rendez-Vous</h4>
        {{ include('rendez_vous/_form.html.twig') }}

        <a href="{{ path('rendez_vous_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a>
    </div>
{% endblock %}
