{% extends "_partial.html.twig" %}

{% block body %}
    <a href="{{ path('clinic_login') }}">
        <button class="btn btn-primary">Cliquez ici pour vous authentifiez!</button>
    </a>
{% endblock %}