{% extends 'base.html.twig' %}

{% block title %}Modifier Dossier Patient{% endblock %}

{% block content %}
    <div class="container py-2">    
        <h4 class="text-center mt-2">Modifier  Dossier Patient</h4>

        {{ include('dossier_patient/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('dossier_patient/_delete_form.html.twig') }}

        {# <a href="{{ path('dossier_patient_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a> #}
        <a href="{{ path('dossier_patient_index') }}" class="d-flex pb-2">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <h6 class="ml-2 text-dark">Back</h6>
        </a>
    </div>
{% endblock %}
