{% extends 'base.html.twig' %}

{% block title %}Modifier Chambre{% endblock %}

{% block content %}
    
    <div class="container py-2">    
        <h4 class="text-center mt-2">Modifier  Chambre</h4>
        {{ include('chambre/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('chambre/_delete_form.html.twig') }}
        
        <a href="{{ path('chambre_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a>
{% endblock %}
