{% extends "_partial.html.twig" %}

{% block body %}
    <div class="container m-auto bg-primary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit necessitatibus debitis ullam! Provident facilis sequi, consectetur tempore similique et quasi, eveniet neque, explicabo ipsa repellendus esse. Soluta placeat eos laudantium.
    </div>
{% endblock %}