{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block users %}
    {{parent()}}
    <style type="text/css">
        .block_users { background-color: #c7c7c7}
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="text-center my-2">Nouvel utilisateur</h4>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_index') }}" class="d-flex pb-2 mr-2 ">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <h6 class="ml-2 text-dark ">Back</h6>
            </a>
    </div>
{% endblock %}
